.form-item {
  display: flex;
  margin-top: 12px;

  .form-item-label {
    display: flex;
    margin-right: 8px;
    padding-top: 8px;

    div:nth-child(1) {
      flex-basis: 10%;
    }

    div:nth-child(2) {
      flex-basis: 90%;
    }

    &.form-item-label-isValidated::before {
      margin-right: 4px;
      line-height: 2;
      content: "*";
      color: #f00;
    }
  }

  .form-item-ele {

    &.form-item-isValidated {
      .input-wrapper {
        border: 1px solid #f00;
      }

      .select-wrapper {
        border: 1px solid #f00;
      }
    }

    .form-item-isValid {
      margin-top: 2px;
      font-size: 14px;
      color: #f00;
    }
  }
}