.form-item {
  display: flex;
    align-items: center;
    margin-top: 12px;

  .form-item-label {
    display: flex;
    align-items: center;

    div:nth-child(1) {
      flex-basis: 10%;
    }

    div:nth-child(2) {
      flex-basis: 90%;
    }
  }

  // &.form-item-no-label {
  //   flex-direction: row-reverse;
  // }
}