.breadcrumb {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumb-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #ccc;

  :nth-child(1) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
  }

  &:hover {
    color: #1890ff;
  }
}

.breadcrumb-item-separator {
  margin: 0 8px;
  color: #ccc;
}

.breadcrumb-item-active {
  color: #1890ff;
}