.select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ced4da;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    border: none;

    &:focus {
      color: none;
      background-color: none;
      border: none;
      outline: 0;
      box-shadow: none;
    }

  }

  .options {
    position: absolute;
    top: calc(100%);
    left: 0;
    width: 100%;
    border: 1px solid #ced4da;

    div {
      padding: 6px 10px;

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}

.select-disabled {
  background-color: #f5f5f5;
}