.modalvisible {
    visibility: hidden;
}

.modal-wrapper {
    position: fixed;
    background: #00000073;
    inset: 0;
    z-index: 999;
    height: 100%;
}

.modal-container {
    position: relative;
    top: 200px;
    width: 500px;
    margin: 0 auto;
    background: #fff;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 48px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    font-weight: 500;
}

.modal-content {
    padding: 0 24px;
}

.modal-footer {
    padding: 0 24px;
}