$error-color: #f00;
$wait-color: rgba(0, 0, 0, .25);
$line-wait-color: rgba(0, 0, 0, .06);
$finish-color: #1890ff;

.steps {
  display: flex;
  align-items: center;
  width: 100%;
}

.step {
  display: inline-block;
  align-items: center;
  flex: 1;
  padding-left: 20px;
  overflow: hidden;
  vertical-align: top;
}

.step-state {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 1px solid $finish-color;
  border-radius: 50px;
  color: $finish-color;

  &.step-wait {
    border: 1px solid $wait-color;
    color: $wait-color;
  }

  &.step-error {
    border: 1px solid $error-color;
    color: $error-color;
    border: none;
  }

  &.step-finish {
    background-color: $finish-color;
    color: #fff;
    border: none;
  }
}

.step-wrapper {
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
  white-space: nowrap;
}

.step-desc {
  position: absolute;
  max-width: 140px;
  white-space: normal;
  color: $wait-color;
}

.step-title {
  position: relative;
  padding-right: 16px;
  line-height: 32px;
  display: inline-block;

  &.step-title-wait {
    color: $wait-color;
  }

  &.step-title-error {
    color: $error-color;
  }

  // &.step-title-finish {
    // color: #fff;
  // }

  &.line::after {
    position: absolute;
    top: 16px;
    left: 100%;
    content: '';
    width: 9999px;
    height: 1px;
    background-color: $finish-color;
  }

  &.line-wait::after {
    background-color: $line-wait-color;
  }

  &.line-error::after {
    background-color: $error-color;
  }

  &.line-finish::after {
    background-color: $finish-color;
  }

  &.line-process::after {
    background-color: $line-wait-color;
  }
}