$error-color: #f00;
$wait-color: rgba(0, 0, 0, .25);
$line-wait-color: rgba(0, 0, 0, .06);
$finish-color: #1890ff;

*{
  user-select: none;
}

.steps {
  display: flex;
  align-items: center;
  width: 100%;
}

.step {
  display: flex;
  flex: 1;
  padding-left: 20px;
  overflow: hidden;
  vertical-align: top;
}

.step-state {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border-radius: 50px;
}

.step-wrapper {
  // display: inline-block;
  // vertical-align: top;
  margin-top: 12px;
  // white-space: nowrap;
}

.step-desc {
  // position: absolute;
  max-width: 140px;
  font-size: 14px;
  white-space: normal;
  color: #000;
}

.step-title {
  position: relative;
  display: inline-block;
  padding-right: 16px;
  font-size: 16px;
  line-height: 32px;
  color: #000;

  &.line::after {
    position: absolute;
    top: 16px;
    left: 100%;
    content: '';
    width: 9999px;
    height: 1px;
    background-color: $finish-color;
  }

  &.step-line-wait::after {
    background-color: $line-wait-color;
  }
}